<h1> hello {{name}} </h1>
<p> This is the profile page </p>

<p style="color:green"> Name:</p>
<p> {{name}} </p>

<p style="color:green"> Location: </p>
<p>  {{myLocation}} </p>

<p style="color:green"> Country of Origin: </p>
<p> {{countryOfOrigin}} </p>

<p style="color:green"> Email: </p>
<p> {{email}} </p>

<p style="color:green"> Interests: </p>
<p> {{interests}} </p>

<p style="color:green"> Biography: </p>
<p>{{biography}} </p>


<form action="/search" method="get">

        <input id="searchButton" type="submit" value ="Search"  name="performSearch">
</form>

<form action="/prevConnections" method="get">
        <input id="password" value ="Friends List" type="submit" name="preConnections">

</form>

<form action="/homePage" method="post">
        <input id="logout" value ="Logout" type="submit" name="Logout">

</form>
