<h1> hello {{name}} </h1>
<p> This is the profile page </p>

<p> Name: {{name}} </p>
<p> Location: {{location}} </p>
<p> Country of Origin: {{countryOfOrigin}} </p>
<p> Email: {{email}} </p>
<p> Interests: {{interests}} </p>
<p> Biography: </p>
<p>{{biography}} </p>


<form action="/search" method="get">

        <label for="search">SEARCH</label>
        <input id="searchButton" type="button" value ="search"  name="performSearch">
</form>

<form action="/prevConnections" method="get">
        <label for="prevConnections">PREVIOUS CONNECTION:</label>
        <input id="password" value ="prevConnections" type="button" name="password">

</form>
